{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/tslint"],
  "parserOptions": { "project": "./tsconfig.json" },
  "env": {
    "node": true
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    "@typescript-eslint/tslint/config": [
      1,
      {
        "lintFile": "./tslint.json"
      }
    ],
    "eqeqeq": 2
  }
}
