.height-full {
  height: auto !important;
}

.pl-lg-3.col-6.border-lg-left, .dropdown, a[href="https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile"]
{
  display: none;
}
.js-yearly-contributions {
  width: 1100px;
}

[title='A summary of pull requests, issues opened, and commits to the default and gh-pages branches.'] {
  font-size: 14px;
}

[title='A summary of pull requests, issues opened, and commits to the default and gh-pages branches.']
  * {
  height: 14;
  width: 14;
}

#user-activity-overview > div {
  margin: 0 !important;
}
